[Unit]
Description=Kadena Hyperlane Eth Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Wants=kadena_proxy.service
User=validator
KillMode=process
KillSignal=SIGINT
WorkingDirectory=~

EnvironmentFile=/etc/hyperlane/validator.env
LoadCredentialEncrypted=eth_secret.json:/etc/hyperlane/eth_secret
LoadCredentialEncrypted=aws_secret:/etc/hyperlane/aws_secret

ExecStart=/bin/bash start_systemd_eth_validator.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
