[Unit]
Description=Kadena Hyperlane Relayer Service
After=network.target
StartLimitIntervalSec=0

[Service]
Wants=kadena_proxy.service
User=validator
KillMode=process
KillSignal=SIGINT
WorkingDirectory=~

LoadCredentialEncrypted=relayer_secret.json:/etc/hyperlane/relayer_secret
LoadCredentialEncrypted=aws_secret:/etc/hyperlane/aws_secret

ExecStart=/bin/bash start_systemd_relayer.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
